@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
}

.overflow-container {
    max-height: calc(100vh - 300px);
}

.animated-underline {
    position: relative;
}

.animated-underline:hover::after {
    -webkit-animation: underline 400ms forwards;
    -moz-animation: underline 400ms forwards;
    -o-animation: underline 400ms forwards;
    animation: underline 400ms forwards;
}

.animated-underline::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 0.15rem;
    background-color: #e83f6f;
    opacity: 0;
    transform: skewX(-14deg);
    transform-origin: left;
}

.pulse {
    -webkit-animation: pulse 5s infinite linear;
    -moz-animation: pulse 5s infinite linear;
    -o-animation: pulse 5s infinite linear;
    animation: pulse 5s infinite linear;
}

/* Animations */
/* Animated underline */
@-webkit-keyframes underline {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
        width: 100%;
    }
    55% {
        opacity: 0;
        width: 100%;
    }
    70% {
        opacity: 1;
        width: 100%;
    }
    85% {
        opacity: 0;
        width: 100%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@-moz-keyframes underline {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
        width: 100%;
    }
    55% {
        opacity: 0;
        width: 100%;
    }
    70% {
        opacity: 1;
        width: 100%;
    }
    85% {
        opacity: 0;
        width: 100%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@-o-keyframes underline {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
        width: 100%;
    }
    55% {
        opacity: 0;
        width: 100%;
    }
    70% {
        opacity: 1;
        width: 100%;
    }
    85% {
        opacity: 0;
        width: 100%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes underline {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
        width: 100%;
    }
    55% {
        opacity: 0;
        width: 100%;
    }
    70% {
        opacity: 1;
        width: 100%;
    }
    85% {
        opacity: 0;
        width: 100%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

/* Logo Pulse */
@-webkit-keyframes pulse {
    0% {
        filter: drop-shadow(0px 0px 0px rgba(232, 63, 111, 0.5));
    }
    10% {
        filter: drop-shadow(0px 0px 20px rgba(232, 63, 111, 0.5));
    }
    30% {
        filter: drop-shadow(0px 0px 0px rgba(232, 63, 111, 0.5));
    }
}

@-moz-keyframes pulse {
    0% {
        filter: drop-shadow(0px 0px 0px rgba(232, 63, 111, 0.5));
    }
    10% {
        filter: drop-shadow(0px 0px 20px rgba(232, 63, 111, 0.5));
    }
    30% {
        filter: drop-shadow(0px 0px 0px rgba(232, 63, 111, 0.5));
    }
}

@-o-keyframes pulse {
    0% {
        filter: drop-shadow(0px 0px 0px rgba(232, 63, 111, 0.5));
    }
    10% {
        filter: drop-shadow(0px 0px 20px rgba(232, 63, 111, 0.5));
    }
    30% {
        filter: drop-shadow(0px 0px 0px rgba(232, 63, 111, 0.5));
    }
}

@keyframes pulse {
    0% {
        filter: drop-shadow(0px 0px 0px rgba(232, 63, 111, 0.5));
    }
    10% {
        filter: drop-shadow(0px 0px 20px rgba(232, 63, 111, 0.5));
    }
    30% {
        filter: drop-shadow(0px 0px 0px rgba(232, 63, 111, 0.5));
    }
}

/* @keyframes pulse {
    0% {
        opacity: 1;
    }
    54% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    56% {
        opacity: 1;
    }
    57% {
        opacity: 1;
    }
    58% {
        opacity: 0;
    }
    59% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
} */

/* Scrollbars */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e83f6f;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9f9fed;
}

@media only screen and (min-width: 640px) {
    .animated-underline::after {
        bottom: 0.55rem;
        height: 0.25rem;
    }
    .overflow-container {
        max-height: calc(100vh - 232px);
    }
}
