@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* font-family: 'Bungee', cursive; */
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
}

/* HEADER STYLES */
/* Hamburger transition styles */
.button-transform-top-active {
    transform: translateY(0.125rem);
    color: #e83f6f;
}

.button-transform-middle-active {
    transform: rotate(90deg);
    color: #e83f6f;
}

.button-transform-bottom-active {
    transform: translateY(-0.125rem);
    opacity: 0;
    color: #e83f6f;
}

.navlist-active {
    transform: unset !important;
}

/* IMAGE STYLES */
/* Overlay */
.overlay {
    position: absolute;
    left: 0;
}
