@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
}

.animated-underline {
    position: relative;
}

.animated-underline:hover::after {
    -webkit-animation: underline 400ms forwards;
    -moz-animation: underline 400ms forwards;
    -o-animation: underline 400ms forwards;
    animation: underline 400ms forwards;
}

.animated-underline::after {
    content: '';
    position: absolute;
    bottom: 0.4rem;
    left: 0;
    width: 0%;
    height: 0.15rem;
    background-color: #e83f6f;
    opacity: 0;
    transform: skewX(-14deg);
    transform-origin: left;
}

/* Animations */

@keyframes underline {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
        width: 100%;
    }
    55% {
        opacity: 0;
        width: 100%;
    }
    70% {
        opacity: 1;
        width: 100%;
    }
    85% {
        opacity: 0;
        width: 100%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e83f6f;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9f9fed;
}

@media only screen and (max-width: 639px) {
    .animated-underline::after {
        bottom: 0.4rem;
        height: 0.15rem;
    }
}

@media only screen and (min-width: 640px) {
    .animated-underline::after {
        bottom: 0.55rem;
        height: 0.25rem;
    }
}
